.background-gradiant{
    background-image: linear-gradient(90deg, blue, rgb(163, 114, 122));
}
.primary-color{
    color: blue;  
}
.image-soluation{
    width: 150px;
}
.aps-image{
    width: 220px;
}
.stop-writing{
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 80vh;
}